// Alert
.alert {
    font-size: 1.8rem;
    font-weight: 400;
    min-height: 6rem;
    padding: 1.5rem 2rem;

    // Warning alert
    &--warning {
        background-color: rgba($color__black, 0.2);
        color: $color__white;
    }

    &__icon {
        background-color: rgba($color__black, 0.2);
        border-radius: 50%;
        float: left;
        height: 3rem;
        line-height: 3rem;
        margin-right: 2rem;
        text-align: center;
        width: 3rem;

        svg {
            display: inline-block;
        }
    }

    &__message {
        font-weight: 400;
        line-height: 3rem;
    }
}
