// Button
.btn {
    border: none;
    border-radius: 2em;
    font-size: 1.5rem;
    height: 4rem;
    min-width: 15rem;
    text-align: center;

    &:active,
    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }

    // Primary button
    &--primary {
        background-color: $color__black;
        color: $color__white;

        &:active,
        &:hover {
            background-color: $color__salmon;
        }
    }

    // Success button
    &--success {
        background-color: $color__persimmon;
        color: $color__white;

        &:active,
        &:hover {
            background-color: $color__salmon;
        }
    }

    // Icon button
    &--icon {
        min-width: 0;
        line-height: 4rem;
        text-align: center;
        width: 4rem;

        svg {
            display: inline-block;
        }
    }
}
