// Contact
.contact {
    margin: 0 auto;
    max-width: 620px;

    .contact__title {
        color: $color__white;
        font-size: 2rem;
        font-weight: 900;
        padding: 4rem 0 2rem 0;
        text-align: center;
        text-transform: uppercase;

        @media (min-width: $tablet__small) {
            font-size: 2.6rem;
            padding: 8rem 0 4rem 0;
        }

        @media (min-width: $screen__small) {
            font-size: 3.6rem;
            padding: 10rem 0 4rem 0;
        }
    }
}
