// Content
.content {
    background-color: $color__white;
    padding: 6rem 1rem;

    @media (min-width: $tablet__small) {
        padding: 8rem 2rem;
    }

    &__wrapper {
        @media (min-width: $tablet__small) {
            margin: 0 auto;
            max-width: 620px;
        }

        @media (min-width: $screen__small) {
            max-width: 940px;
        }
    }

    &__title {
        color: $color__black;
        font-size: 2rem;
        font-weight: 900;
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;

        @media (min-width: $tablet__small) {
            font-size: 3rem;
        }
    }

    &__paragraph {
        color: $color__black;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 2rem;
        margin: 1rem auto 0 auto;
        text-align: center;

        @media (min-width: $tablet__small) {
            font-size: 2rem;
            line-height: 2.8rem;
            margin-top: 2rem;
        }

        @media (min-width: $screen__small) {
            font-size: 2.4rem;
            line-height: 3.4rem;
        }
    }
}
