// Form
.form {
    &__wrapper {
        background-color: rgba($color__white, 0.2);
        display: grid;
        grid-gap: 1rem;
        padding: 2rem 1rem;

        @media (min-width: $tablet__small) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &__group {
        &--textarea {
            margin-top: 1rem;

            @media (min-width: $tablet__small) {
                grid-column: 1/3;
            }
        }
    }

    &__input {
        &:focus {
            outline: none;
        }

        &--text {
            background-color: $color__white;
            border: none;
            color: $color__black;
            display: block;
            font-size: 1.8rem;
            font-weight: 300;
            height: 5rem;
            padding: 0 2rem;
            width: 100%;
        }

        &--textarea {
            background-color: $color__white;
            border: none;
            color: $color__black;
            display: block;
            font-size: 1.8rem;
            font-weight: 300;
            height: 12rem;
            padding: 1.5rem 2rem;
            width: 100%;
        }

        &--validated {
            position: relative;
        }
    }

    &__error {
        background-color: $color__abbey;
        color: $color__white;
        font-size: 1.5rem;
        height: 4rem;
        line-height: 4rem;
        padding: 0 2rem;
        position: relative;

        &:after {
            border: solid transparent;
            border-bottom-color: $color__abbey;
            border-width: 0.8rem;
            bottom: 100%;
            content: '';
            height: 0;
            left: 2rem;
            position: absolute;
            width: 0;
        }
    }

    &__submit {
        padding: 2rem 0 10rem 0;
        text-align: center;

        @media (min-width: $tablet__small) {
            padding: 4rem 0 10rem 0;
        }
    }
}
