// Header
.header {
    &__wrapper {
        background-color: $color__black;
        height: 6rem;
        position: fixed;
        width: 100%;
        z-index: 1000;

        @media (min-width: $tablet__small) {
            height: 8rem;
            padding: 2.4rem 3rem;
        }
    }

    &__logo {
        left: 50%;
        position: absolute;
        top: 1.9rem;
        transform: translateX(-50%);

        svg {
            max-height: 2.2rem;
        }

        @media (min-width: $tablet__small) {
            float: left;
            margin-right: 2rem;
            position: static;
            transform: none;

            svg {
                max-height: 3.2rem;
            }
        }
    }

    &__placeholder {
        height: 6rem;

        @media (min-width: $tablet__small) {
            height: 8rem;
        }
    }
}
