// Instafeed
.instafeed {
    margin: 0 auto;
    padding: 6rem 0 8rem 0;

    @media (min-width: $tablet__small) {
        padding-bottom: 18rem;
        padding-top: 8rem;
        max-width: 660px;
    }

    @media (min-width: $screen__small) {
        max-width: 980px;
    }

    &__title {
        color: $color__juniper;
        font-size: 2rem;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;

        @media (min-width: $tablet__small) {
            font-size: 3rem;
        }
    }

    &__subtitle {
        color: $color--white;
        font-size: 2rem;
        font-weight: 300;
        margin: 1rem 0;
        text-align: center;

        @media (min-width: $tablet__small) {
            font-size: 3rem;
            margin-bottom: 2rem;
        }
    }

    &__list {
        display: grid;
        grid-gap: 2rem;
        padding: 2rem 1rem;

        @media (min-width: $tablet__small) {
            grid-template-columns: 1fr 1fr;
            padding: 2rem;
        }

        @media (min-width: $screen__small) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &__caption {
        background-color: $color__white;
        padding: 1.5rem;
    }

    &__image {
        display: block;
        height: auto;
        width: 100%;
    }
}
