// Mobile menu
.mobile-menu {
    background-color: $color__black;
    border-top: 2px solid $color__white;
    position: absolute;
    top: 6rem;
    width: 100%;
    z-index: 1000;

    &__trigger {
        background: none;
        border: none;
        cursor: pointer;
        margin: 1.9rem 0 0 2rem;

        &:focus {
            outline: none;
        }
    }

    &__list {
        list-style: none;
    }

    &__link {
        color: $color__white;
        display: block;
        font-size: 3rem;
        font-weight: 900;
        margin: 4rem 0;
        text-align: center;
        text-decoration: none;

        &:active,
        &:hover {
            color: $color__persimmon;
        }
    }
}

// Menu
.menu {
    &__list {
        @include clearfix;
        list-style: none;
    }

    &__item {
        float: left;
    }

    &__link {
        color: $color__gray;
        display: block;
        font-size: 1.8rem;
        font-weight: 400;
        height: 3.2rem;
        line-height: 3.2rem;
        margin: 0 2rem;
        text-decoration: none;

        &:active,
        &:hover {
            color: $color__persimmon;
        }

        &--active {
            color: $color__white;
        }
    }
}
