// Slider
.slider {
    position: relative;

    &__img {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        height: 50rem;
        width: 100%;

        @media (min-width: $tablet__small) {
            height: 70rem;
        }
    }

    &__nav {
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    &__btn {
        margin: 0 2rem;
    }
}
