// Social
.social {
    &__list {
        height: 2rem;
        list-style: none;
        text-align: center;
    }

    &__item {
        display: inline-block;
    }

    &__link {
        color: $color__gray;
        display: block;
        margin: 0 2rem;

        &:active,
        &:hover {
            svg path {
                fill: $color__persimmon;
            }
        }

        svg path {
            fill: $color__white;
        }
    }
}
