// Vendor
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
    color: lighten($color__black, 50%);
}

// Global
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    min-height: 100%;
}

body {
    background-image: url('./images/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $text__font-family--primary;
    font-size: 1.6rem;
    font-weight: 300;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
}

svg {
    display: block;
}
