// Colors
$color__abbey: #555D60;
$color__black: #000000;
$color__conifer: #7BDB4C;
$color__gray: #8E8E8E;
$color__juniper: #789199;
$color__persimmon: #FF5454;
$color__salmon: #FF7676;
$color__white: #FFFFFF;
